# ------- Core

DJANGO_ENVIRONMENT=development

DJANGO_ALLOWED_HOSTS=localhost

DJANGO_SECRET_KEY=""

DJANGO_DATA_SIGN_KEY=""

DJANGO_SIGNING_KEY=""

# ------- Database

POSTGRES_USER=

POSTGRES_PASSWORD=

POSTGRES_DB=

DJANGO_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# ------ Cache

REDIS_USERNAME=

REDIS_PASSWORD=

DJANGO_CACHE_URL=redis://${REDIS_USERNAME}:${REDIS_PASSWORD}@localhost:6379
