# ------- Core

DJANGO_ENVIRONMENT=development

DJANGO_ALLOWED_HOSTS=localhost

DJANGO_SECRET_KEY="change-me-to-a-secure-random-key"

# ------- Database

POSTGRES_USER=

POSTGRES_PASSWORD=

POSTGRES_DB=

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# ------ Cache

VALKEY_USERNAME=

VALKEY_PASSWORD=

CACHE_URL=redis://${VALKEY_USERNAME}:${VALKEY_PASSWORD}@localhost:6379
